<div class="row">
  <div class="col-md-6">
    <label for="locationFilter" class="label">:اختر حسب الموقع</label>
    <select id="locationFilter" class="select" (change)="onLocationFilterChanged($event.target.value)">
      <option value="">كل المحاكم</option>
      <option *ngFor="let location of rooms" [value]="location.id">{{ location.text }}</option>
    </select>
  </div>
  <div class="col-md-6">
    <label for="locationFilter" class="label">:اختر حسب قاعة</label>
    <select id="locationFilter" class="select" (change)="onLocationFilterChanged2($event.target.value)">
      <option value="">كل غرف
      </option>
      <option *ngFor="let location of room" [value]="location.name">{{ location.name }}</option>
    </select>
  </div>
</div>
<div class="options">
  <div class="caption"> :عرض حسب اللون</div>
  <div class="option">
    <dx-radio-group [items]="resourcesList" [(value)]="selectedResource" layout="horizontal">
    </dx-radio-group>
  </div>
</div>
<dx-scheduler #scheduler id="scheduler" [dataSource]="store"
  (onAppointmentFormOpening)="onAppointmentFormCreated($event)" [groups]="groups">
  <dxi-resource fieldExpr="tribunal" label="Tribunal" [dataSource]="rooms"
    [useColorAsDefault]="selectedResource === 'Tribunal'"> </dxi-resource>
</dx-scheduler>


<!-- add tribunal -->
<div style="display: flex;
justify-content: center;
align-items: center;
 ">
  <dx-button (onClick)="toggleFormVisibility()" stylingMode="outlined" text="Outlined" type="danger" [width]="120"
    [width]="120">أضف محكمة</dx-button>
</div>
<div *ngIf="isFormVisible" style="  display: flex;
flex-direction: column;
margin-top: 20px;">
  <dx-form [formData]="formData">
    <dxi-item dataField="text" editorType="dxTextBox"></dxi-item>
    <dxi-item dataField="color" editorType="dxColorBox">
      <dxo-editorOptions [value]="formData.color"></dxo-editorOptions>
    </dxi-item>
  </dx-form>
  <dx-button text="أضف محكمة" style="align-self: flex-end;
  margin-top: 10px;" stylingMode="outlined" type="success" [width]="120" (click)="addTribunal()"></dx-button>
</div>